<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
  <%- include('../paginator', {action: '/users'}); %>
  <table>
    <caption>Users</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < users.length; i++) { %>
        <% let user = users[i]; %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>